body {
  background-color: #fff;
}
.box .header {
  max-width: 1920px;
  margin: 0 auto;
  height: 844px;
  position: relative;
  background: url(../images/index-img/banner.jpg) no-repeat top center;
  background-size: cover;
}
.box .header .nav_father {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  z-index: 2;
  background: url(../images/index-img/nav_back_bg.jpg) no-repeat top center;
}
.box .header .nav {
  height: 60px;
  line-height: 60px;
  display: flex;
}
.box .header .nav a {
  width: 118px;
  display: block;
  text-align: center;
  float: left;
  color: #fff;
}
.box .header .nav a:nth-child(1) {
  background: url(../images/index-img/nav_bg1.jpg) no-repeat top center;
  color: #000;
}
.box .header .nav a span {
  color: #fff;
}
.box .header .nav_items {
  height: 140px;
  background: url(../images/index-img/subnav_bg.jpg) no-repeat top center;
  display: none;
}
.box .header .nav_items > .w {
  position: relative;
}
.box .header .nav_items > .w > ul {
  position: absolute;
  top: 0;
  display: none;
}
.box .header .nav_items .news {
  padding-left: 118px;
  box-sizing: border-box;
}
.box .header .nav_items .games_method {
  padding-left: 336px;
  box-sizing: border-box;
}
.box .header .nav_items .shiting {
  padding-left: 400px;
  box-sizing: border-box;
}
.box .header .nav_items .nav_item {
  width: 149px;
  height: 92px;
  margin-top: 30px;
  margin-right: 20px;
  position: relative;
  border: 2px solid #000;
  box-sizing: border-box;
}
.box .header .nav_items .nav_item:hover {
  border-color: #aa2d26;
}
.box .header .nav_items .nav_item i {
  width: 15px;
  display: block;
  padding: 2px 3px;
  background-color: #c2a060;
  position: absolute;
  top: -2px;
  left: -2px;
  font-size: 12px;
  color: #fff;
  text-align: center;
  font-style: normal;
}
.box .header .nav_items .nav_item span {
  background: url(../images/index-img/0.png) no-repeat top center;
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  bottom: 0;
}
.box .header .nav_items .nav_item p {
  color: #fff;
  position: absolute;
  bottom: 2px;
  padding: 0 6px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.box .header .nav_items .nav_item section {
  padding: 2px 3px;
  background-color: #c2a060;
  position: absolute;
  bottom: -2px;
  right: -2px;
  font-size: 12px;
  text-align: center;
  font-weight: 700;
}
.box .header .nav_items .lii {
  margin-right: 0;
}
.box .header .nav_items .tongren {
  width: 220px;
}
.box .header .nav_items .tongren p {
  color: #c2a060;
}
.box .header .nav_items .tongren h2 {
  margin-bottom: 20px;
  color: #000;
}
.box .header .nav_items .tongren ul {
  margin-bottom: 10px;
}
.box .header .nav_items .tongren li,
.box .header .nav_items .tongren a {
  color: #000;
  font-size: 12px;
}
.box .header .nav_items .tongren a:hover {
  text-decoration: underline;
}
.box .header .nav_items .tongren .mp {
  margin: 0 15px;
}
.box .header .nav_items .tongren .mpp {
  width: 280px;
}
.box .header .nav_items .tongren .mpp li {
  margin-right: 20px;
  margin-bottom: 10px;
}
.box .header .nav_items .wukuang {
  width: 250px;
  border: 0;
}
.box .header .nav_items .guanfang {
  padding: 15px 0;
}
.box .header .nav_items .guanfang .you {
  border-right: 1px solid #a78442;
}
.box .header .nav_items .guanfang li {
  padding: 0 45px;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
}
.box .header .nav_items .guanfang li p {
  color: #000;
}
.box .header .nav_items .guanfang li .p {
  margin-top: 10px;
}
.box .header .nav_items .guanfang li img {
  margin-bottom: 8px;
}
.box .header .nav_items .guanfang li > img {
  margin-top: 10px;
}
.box .header .nav_items .guanfang li section {
  width: 88px;
  height: 88px;
  border: 2px solid #a78442;
  box-sizing: border-box;
  margin-bottom: 5px;
}
.box .header .header_news {
  width: 100%;
  height: 287px;
  background: url(../images/index-img/banner_bot.png) center bottom repeat-x;
  position: absolute;
  bottom: 0;
  left: 0;
}
.box .header .header_news .w {
  display: flex;
}
.box .header .header_news .news_left {
  width: 145px;
  height: 287px;
  background: url(../images/index-img/index_jlt.png);
  position: relative;
  margin-right: 14px;
}
.box .header .header_news .news_left .photo {
  position: absolute;
  top: 47px;
  left: 19px;
  width: 107px;
  height: 224px;
}
.box .header .header_news .news_left .photo .line {
  width: 120px;
  height: 14px;
  position: absolute;
  top: -10px;
  left: -6.5px;
  z-index: 2;
  animation: redline 5s linear infinite alternate;
}
.box .header .header_news .news_left .photo .photo_top {
  width: 107px;
  height: 107px;
  position: absolute;
  top: 0;
}
.box .header .header_news .news_left .photo .photo_bottom {
  position: absolute;
  width: 107px;
  height: 107px;
  bottom: 0;
  cursor: pointer;
}
.box .header .header_news .news_right {
  height: 287px;
  flex: 1;
  overflow: hidden;
}
.box .header .header_news .news_right .news_right_top {
  width: 162px;
  height: 43px;
  line-height: 33px;
  text-align: center;
  color: #c2a060;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.6);
}
.box .header .header_news .news_right .news_right_top p {
  width: 83px;
  height: 4px;
  background: url(../images/index-img/index_jlt.png) -806px -492px;
  margin-left: 39px;
}
.box .header .header_news .news_right .news_right_btm {
  margin-top: 20px;
  position: relative;
}
.box .header .header_news .news_right .news_right_btm ul {
  width: 5185px;
  position: absolute;
  top: 0;
  left: 0;
}
.box .header .header_news .news_right .news_right_btm li {
  width: 240px;
  height: 177px;
  background-color: #fff;
  float: left;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}
.box .header .header_news .news_right .news_right_btm li .yip {
  color: #000;
  padding-left: 15px;
  font-size: 12px;
  margin-top: 5px;
}
.box .header .header_news .news_right .news_right_btm li .yispan {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px;
  width: 21px;
  color: #fff;
  text-align: center;
  background-color: #f24853;
  font-size: 12px;
}
.box .header .header_news .news_right .news_right_btm li .imgyi {
  height: 130px;
}
.box .header .header_news .news_right .news_right_btm li .imger {
  height: 177px;
  width: 240px;
}
.box .header .header_news .news_right .news_right_btm li .erp {
  position: absolute;
  bottom: 2px;
  padding: 0 20px;
  color: #fff;
}
.box .header .header_news .news_right .news_right_btm li .black {
  width: 238px;
  height: 175px;
  background: url(../images/index-img/black.png) bottom center repeat-x;
  position: absolute;
  bottom: 0;
  border: 1px solid #dba862;
}
.box .header .header_news .news_right .news_right_btm .none_img {
  padding: 20px 20px 16px;
}
.box .header .header_news .news_right .news_right_btm .none_img:hover h2 {
  color: #dba862;
}
.box .header .header_news .news_right .news_right_btm .none_img h2 {
  color: #000;
  height: 60px;
  font-size: 16px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}
.box .header .header_news .news_right .news_right_btm .none_img p {
  margin: 10px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  font-size: 12px;
  color: #666;
}
.box .header .header_news .news_right .news_right_btm .none_img .yellow_line {
  width: 41px;
  height: 5px;
  background: url(../images/index-img/yellow_line.png) no-repeat;
  margin-left: 160px;
  display: block;
}
.box .header .header_news .news_right .news_right_btm .yili:hover .yispan {
  top: -20px;
}
.box .header .header_news .news_right .news_right_btm .style {
  margin-right: 20px;
}
@keyframes redline {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(107px);
  }
}
